:root {

  --calculator-background-color: #696969;

  --main-font: "Orbitron",sans-serif;

  --calculator-height:72%;
  --calculator-width:36%
}

@media Screen and (max-width:1024px){
:root{
  --calculator-height:100%;
  --calculator-width:100% 

}

}

body,div,p {
margin: 0;
padding:0
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
